<%- include header%>
<div class="right">
    <div class="content">
        <a href="/admin" class="goods_info_title">商品信息管理　</a> >>　　<span class="goods_info_title">添加商品</span>
    </div>
    <div class="goods_add_content">
        <form class="goods_operation">
            <a href="" class="width btn btn-default">保存商品</a>　　　　　
            <a href="/admin_add_attribute" class="width btn btn-default">添加属性</a>　　　　　
            <a href="/admin_del_attribute" class="width btn btn-default">删除属性</a>　　　　　
            <a href="/admin" class="width btn btn-default">取消</a>
            <br/>　　　
            <div class="goods">
                商品名称：<input type="text" size="20" placeholder="请输入商品名称"/>　　　　　　　　
                商品数量：
                    <div class="btn-group" style="border-style: none">
                        <button class="small btn btn-default">－</button>
                        <button class="small btn btn-default disabled">0</button>
                        <button class="small btn btn-default">＋</button>
                    </div>
                    <br/><br/>
                单  价(元)：<input type="text" size="20" placeholder="请输入商品单价"/>　　　　　　　　
                单　　位：  <input type="text" size="20" placeholder="请输入单位"/>
            </div>
        </form>
    </div>
</div>
</body>
</html>