<%- include header%>
<div class="right">
    <div class="content">
        <a href="/admin" class="goods_info_title">商品信息管理　</a> >>
        <a href="/admin_add_goods" class="goods_info_title">　添加商品　</a> >>　<span class="goods_info_title">删除属性</span>
        <table class="del_goods_table table-responsive text-center">
            <thead>
            <tr>
                <td class="col-lg-3">属性名称</td>
                <td class="col-lg-3">属性值</td>
                <td class="col-lg-3">操作</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>生产日期</td>
                <td>2014-12-23</td>
                <td><a>删除</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>