<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title><%= title%></title>
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css"/>
    <link rel="stylesheet" href="stylesheet/style.css"/>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body>
    <div class="header">
        <img class="img-responsive img-circle" src="images/administrator.png"/><span class="title">POS机后台管理系统</span>
    </div>
    <div class="left">
        <a href="/admin" class="goods_management btn btn-default">商品管理</a>
        <a href="/admin_promotion_rules" class="goods_management btn btn-default">折扣活动</a>
    </div>