<%- include header%>
<div class="right">
    <div class="content">
        <a class="btn btn-default btn-lg" href="/admin_add_promotion_rules">添加规则</a>
        <table class="goods_table table-responsive text-center">
            <thead>
            <tr>
                <td class="col-lg-1">商品</td>
                <td class="col-lg-1">价格</td>
                <td class="col-lg-2">活动时间</td>
                <td class="col-lg-1">打折方式</td>
                <td class="col-lg-1">操作</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>可口可乐</td>
                <td>３元</td>
                <td>03/09/2014-10/09/2014</td>
                <td>买三赠一</td>
                <td><a>删除</a></td>
            </tr>
            <tr>
                <td>百事可乐</td>
                <td>２元</td>
                <td>永久</td>
                <td>买二赠一</td>
                <td><a>删除</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>